body {
    font-family: monospace;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientAnimation 15s infinite;
}
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

button {
    border: solid 1px black;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    height: 50px;
    width: 400px;
    font-size: 40px;
    animation: slide-rotate-hor-top1 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    position: relative;
}
button:hover {
	animation: slide-rotate-hor-top2 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes slide-rotate-hor-top2 {
    0% {
        transform: translateY(0) rotateX(0deg);
    }
    100% {
        transform: translateY(-150px) rotateX(-90deg);
    }
}

@keyframes slide-rotate-hor-top1 {
    0% {
        transform: translateY(-150px) rotateX(-90deg);
    }
    100% {
        transform: translateY(0) rotateX(0deg);
    }
}
  

div {
    top: 40px;
    left: 50px;
    font-size: 40px;
    display: none;
    position: fixed;
    border: solid 1px black;
}

